<!DOCTYPE html>
<html>
<head>
	<title>Stuart Tee - Web Developer</title>

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/application.css">
	<script src="http://use.fonticons.com/5c160f11.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<a href="#" class="name">Stuart Tee</a>
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="#">Projects</a>
			<a href="contact.html">Contact</a>
		</nav>
		

	</header>

<%= yield %>

</body>
</html>
