<!DOCTYPE html>
<html>
<head>
	<title>Stuart Tee - Web Developer</title>

	<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/application.css">
	<script src="//use.fonticons.com/5c160f11.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Stuart Tee", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			
			<%= link_to "Contact", new_contact_path %>
		</nav>
		

	</header>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
	    <p class="alert"><%= alert %></p>
	<% end %>


<%= yield %>

<footer id="main_footer"> 
		<p class="copyright">&copy; 2016 Stuart Tee</p>
		<nav>
			<a href="https://www.facebook.com/stuart.tee.7" target="_blank"><i class="fa fa-facebook-official" ></i></a>
			<a href="https://uk.linkedin.com/in/stuart-tee-463a7ba6
			" target="_blank"><i class="fa fa-linkedin" ></i></a>
			<a href="https://github.com/stuartee93" target="_blank"><i class="fa fa-git"></i></a>
		</nav>
	</footer>

</body>
</html>
